@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

* {
  box-sizing: border-box;
}

@layer base {
  h1 {
    @apply dark:text-white text-5xl mb-4;
  }
  h2 {
    @apply dark:text-white text-4xl mb-4;
  }
  h3 {
    @apply dark:text-white text-3xl mb-4;
  }
  h4 {
    @apply dark:text-white text-2xl mb-4;
  }
  h5 {
    @apply dark:text-white text-xl mb-4;
  }
  h6 {
    @apply dark:text-white;
  }
  p {
    @apply dark:text-white text-lg mb-8;
  }
}

.social-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  @apply w-full lg:w-4/12;
}

@media (min-width: 640px) {
  .social-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .social-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.social-grid > a {
  @apply text-center rounded-lg bg-gray-700 cursor-pointer transform transition ease-in-out duration-300 hover:-translate-y-2 hover:shadow-xl;
  padding: 1rem;
  display: grid;
  place-items: center;
}

.social-grid > a::before {
  content: '';
  display: block;
  padding-bottom: 100%;
  grid-area: 1 / 1 / 2 / 2;
}

.social-grid > a div {
  width: 100%;
  grid-area: 1 / 1 / 2 / 2;
}
